.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  &__item {
    @extend .btn;
    font-size: 1rem;
    font-weight: 400;
    text-transform: none;
    &--active {
      background: var(--light-primary-color);
      border-color: var(--light-primary-color);
      color: #fff;
      &:hover {
        background: var(--dark-primary-color);
        border-color: var(--dark-primary-color);
      }
    }
  }
  &__spoiler {
    order: 999;
    background: var(--primary-color);
    input[type="checkbox"] {
      display: none;
    }
    &:hover {
      background: var(--dark-primary-color);
      border-color: var(--dark-primary-color);
    }
  }
  &:has(.tags__spoiler input[type="checkbox"]:not(:checked)) {
    .tags__spoiler span:nth-child(2) {
      display: none;
    }
    .tags__item:nth-child(n+11):not(.tags__spoiler) {
      display: none;
    }
  }
  &:has(.tags__spoiler input[type="checkbox"]:checked) {
    .tags__spoiler span:nth-child(1) {
      display: none;
    }
  }
  &:not(:has(.tags__item:nth-child(12))) &__spoiler {
    display: none;
  }
  &--small {
    gap: 0.5rem;
    .tags__item {
      padding: 0.45rem 1.3rem;
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 900px) {
  .tags {
    gap: 0.75rem;
    &--small {
      gap: 0.4rem;
      .tags__item {
        padding: 0.4rem 1.3rem;
        font-size: 0.75rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .tags {
    gap: 0.5rem;
    &__item {
      padding: 0.5rem 1rem;
      border-width: 0.05rem;
      font-size: 0.8rem;
    }
    &--small {
      gap: 0.4rem;
      .tags__item {
        padding: 0.35rem 1.0rem;
        font-size: 0.85rem;
      }
    }
  }
}

// .section__title + .tags {
//   margin-top: -1.5rem;
// }