// Прижать футер к низу страницы
html, body, .wrapper {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.footer {
  margin-top: auto;
}

// Cокрытие виджета гугл переводчика
body {
  position: static !important;
}
.skiptranslate,
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none !important;
}

img {
  max-width: 100%;
}

[class$="--only-mobile"] {
  @media (min-width: 481px) {
    display: none !important;
  }
}
[class$="--hidden-mobile"] {
  @media (max-width: 480px) {
    display: none !important;
  }
}