// ==================
// hero-section
// ==================
.hero-section {
  &__title span:nth-child(odd),
  &__text-wrapper {
    margin-left: 6.05rem;
  }
  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0 !important;
  }
  &__text-wrapper {
    @extend %flex-column;
    gap: 1rem;
    max-width: 20.25rem;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 900px) {
  .hero-section {
    &__title span:nth-child(odd),
    &__text-wrapper {
      margin-left: 3.2rem;
    }
    &__text-wrapper {
      gap: 1.2rem;
      max-width: 14.55rem;
      &:not(:first-child) {
        margin-top: 1.2rem;
      }
    }
    &__text {
      font-size: 0.9rem;
    }
  } 
}

@media (max-width: 480px) {
  .hero-section {
    &__title span:nth-child(odd),
    &__text-wrapper {
      margin-left: 2rem;
    }
    &__text-wrapper {
      gap: 1rem;
      max-width: 18.5rem;
      &:not(:first-child) {
        margin-top: 1.5rem;
      }
    }
    &__text {
      font-size: 1.125rem;
    }
  } 
}