:root {
  --base-font-size: 24px;
  --base-desktop-font-size: 1.33854vw; //24px
  --base-tablet-font-size: 2.22222vw; //20px
  --base-mobile-font-size: 4.44444vw; //16px
  --base-font-color: #060606;

  --section-light-background-color: #F5F5F5; 
  --section-dark-background-color: #101010;

  --primary-color: #51E0AB;
  --light-primary-color: rgba(52 211 153 / 0.80);
  --dark-primary-color: #3ca77f;
}