.container {
  width: 100%;
  max-width: 1792px;
  margin: 0 auto;
  padding-left: 1.6667rem;
  padding-right: 1.6667rem;
}

@media (max-width: 900px) {
  .container {
    padding: 0 2rem;    
  }
}

@media (max-width: 360px) {
  .container {
    padding: 0 1rem;
  }
}