.header {
  position: relative;
  z-index: 9;
  background: rgba(247, 247, 247, 0.70);
  &__container {
    padding-top: 0.46rem;
    padding-bottom: 0.46rem;
    display: flex;
    align-items: center;
  }
  &__logo {
    &:not(:last-child) {
      margin-right: 2.04rem;
    }
  }
  &__linguise {
    &:not(:first-child) {
      margin-left: 1.67rem;
    }
  }
  @media (min-width: 901px) {
    &__burger-btn,
    &__burger-menu {
      display: none;
    }
  }
  &__btn {
    padding: 0.46rem 1.17rem;
    font-size: 0.66667rem;
  }
  &__studio-btn {
    &:not(:last-child) {
      margin-right: 1.33rem;
    }
  }
  &__auth-btns,
  &__user-actions {
    margin-left: auto;
  }
  &__user-actions {
    @media (min-width: 901px) {
      .user-actions__studio-btn {
        display: none;        
      }
    }
  }
  &--v2 {
    @font-face {
      font-family: 'OldOpenSans';
      font-weight: 600;
      src: url('../fonts/oldOpenSans.woff2') format('truetype');
      font-display: swap;
    }
    height: 86px;
    .header__container {
      max-width: 100%;
      padding: 12px 104px;
    }
    .header__logo {
      width: 96px;
      height: 64px;
      transform: translateY(1px);
      &:not(:last-child) {
        margin-right: 48px;
      }
    }
    .header__linguise {
      &:not(:first-child) {
        margin-left: 30px;
      }
      transform: translateY(-3px);
      .linguise__icon, .linguise_flags {
        width: 20px !important;
        height: 20px !important;
      }
      .linguise_switcher .lccaret {
        width: 16px !important;
        height: 16px !important;
      }
      .linguise_current_lang {
        padding: 0 0 0 26px !important;
      }
      .linguise_lang_name {
        font-size: 14px !important;
      }
      .linguise_switcher_sub {
        max-width: 240px !important;
      }
      .linguise-lang-item {
        padding: 10px !important;
      }
      .linguise_switcher li a {
        gap: 6px !important;
      }
      .popup_linguise_lang_name {
        font-size: 14px !important;
      }
    } 
    .header__btn {
      padding: 10px 27px 10px 28px;
      font-size: 16px;
      font-weight: 600;
      border-width: 1px;
      border-radius: 9999px;
      &:not(.header__studio-btn) {
        transform: translateY(-1px);
      }
      &.btn--warning {
        padding: 10px 37px;
      }
      &.btn--empty {
        color: #000;
        padding: 10px 28px;
        width: 90.66px;
      }
    }
    .header__studio-btn {
      width: 115px;
      height: 44px;
      padding: 7px 24px 8px;
      font-weight: 600;
      color: #111827;
      background: rgb(52 211 153);
      &:not(:last-child) {
        margin-right: 31.92px;
      }
    }
    .auth-btns {
      gap: 0;
    }
    .nav__list {
      gap: 25px;
    }
    .nav__link {
      font-family: "OldOpenSans", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      transform: translateY(-1px);
    }
    .header__auth-btns,
    .header__user-actions {
      gap: 8px;
    }
    .user-actions__btns {
      gap: 8px;
    }
    .profile {
      &__avatar {
        width: 46px;
        height: 46px;
        border-width: 1px;
      }
      &__menu {
        top: calc(100% + 7.2px);
        gap: 8px;
        width: 168px;
        padding: 8px 0;
        &-item {
          &:not(:last-child) {
            &::after {
              top: calc(100% + 4px);
              width: calc(100% - 32px);
              height: 1.2px;
            }
          }
        }
        &-link {
          padding: 8px 16px;
          font-size: 18px;
        }
      }
      @media (max-width: 480px) {
        &__avatar {
          width: 40px;
          height: 40px;
        }
      }
    }
    @media (max-width: 1869px) {
      .header__container {
        padding: 12px 40px;
      }
    }
    @media (max-width: 1279px) {
      .header__logo {
        &:not(:last-child) {
          margin-right: 5.5px;
        }
      }
      .header__linguise {
        transform: none;
        .linguise__icon, .linguise_flags {
          width: 20px !important;
          height: 20px !important;
        }
        .linguise_switcher .lccaret {
          width: 16px !important;
          height: 16px !important;
        }
        .linguise_current_lang {
          padding: 0 0 0 26px !important;
        }
        .linguise_lang_name {
          font-size: 14px !important;
        }
        .linguise_switcher_sub {
          max-width: 240px !important;
        }
        .linguise-lang-item {
          padding: 10px !important;
        }
        .linguise_switcher li a {
          gap: 6px !important;
        }
        .popup_linguise_lang_name {
          font-size: 14px !important;
        }
      } 
      .header__studio-btn,
      .header__nav {
        display: none;
      }
      .header__burger-btn,
      .header__burger-menu {
        display: block;
      }
      .header__burger-btn {
        width: 36px;
        height: 30px;
        transform: translateY(4px);
        background-image: url("data:image/svg+xml,%3Csvg fill='none' height='30' viewBox='0 0 22 22' width='36' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 6H20M4 12H20M4 18H20' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3C/path%3E%3C/svg%3E");
      }
      .header__burger-menu {
        position: absolute;
        top: 4px;
        left: 4px;
        z-index: 3;
        background: rgb(243 244 246);
        transition: 0.4s all;
        .header__linguise {
          margin: 16px auto;
          width: max-content;
          max-width: 100%;
        }
      }
      &:not(.header--burger-active) {
        .header__burger-menu {
          display: none;
        }
      }
      .header__burger-close {
        margin: 4.275px 4px 4.275px auto;
        width: 28px;
        height: 28px;
        background: url("data:image/svg+xml,%3Csvg class='h-7 w-7' fill='none' stroke='%235ddcad' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 18L18 6M6 6l12 12' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3C/path%3E%3C/svg%3E") no-repeat center / contain;
      }
      .header__burger-nav {
        &:not(:last-child) {
          border-bottom: 1px solid rgb(229, 231, 235);
        }
        &-list {
          flex-direction: column;
          align-items: center;
          gap: 0;
        }
        &-item {
          display: flex;
          align-items: center;
          justify-self: center;
          border-top: 1px solid rgb(229, 231, 235);
        }
        &-link {
          width: 232px;
          padding: 8px 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          color: #000;
          text-transform: capitalize;
          text-align: center;
        }
      }
    }
    @media (max-width: 767px) {
      .header__container {
        padding: 12px 16px;
      }
    }
    @media (max-width: 639px) {
      .header__btn {
        padding: 10px 3.18px;
        border-radius: 9999px;
        &:not(.header__studio-btn) {
          transform: translateY(1px);
        }
        &.btn--warning {
          padding: 10px 5px;
        }
        &.btn--empty {
          width: 58.66px;
        }
      }
      // .header__studio-btn {
      //   padding: 7px 24px 8px;
      //   &:not(:last-child) {
      //     margin-right: 31.92px;
      //   }
      // }
      .auth-btns {
        gap: 8px;
      }
      .header__burger-menu {
        width: 100%;
      }
      .header__burger-close {
        margin-right: 7px;
      }
      .header__burger-nav {
        &-list {
          align-items: stretch;
        }
        &-link {
          width: 100%;
        }
      } 
    }
    @media (max-width: 480px) {
      .header__btn {
        padding: 10px 2px;
        &.btn--warning {
          padding: 10px 5px;
        }
      }
    }
    @media (max-width: 368px) {
      .header__logo {
        width: 28.576%;
      }
    }
    @media (max-width: 349px) {
      .header__container {
        padding-left: 0;
        padding-right: 0;
      }
      .header__logo {
        width: 27.51%;
      }
      .header__btn {
        padding: 10px 3px;
        &.btn--warning {
          padding: 10px 5px;
        }
      }
    }
    @media (max-width: 335px) {
      min-height: 86px;
      .header__logo {
        width: 26.667%;
        height: 56.88px;
        &:not(:last-child) {
          margin-right: 3.5px;
        }
      }
      .header__btn {
        &:not(.header__studio-btn) {
          transform: translateY(5px);
        }
        &.btn--warning {
          // padding-bottom: 9px;
        }
      }
      .profile {
        transform: translateY(5px);
      }
    }
  }
}

@media (max-width: 900px) {
  .header {
    &__container {
      padding-top: 0.55rem;
      padding-bottom: 0.55rem;
    }
    &__logo {
      &:not(:last-child) {
        margin-right: 0.8rem;
      }
    }
    &__btn {
      padding: 0.55rem 1.4rem;
      font-size: 0.8rem;
    }
    &__studio-btn {
      display: none;
    }
    &__nav {
      display: none;
    }
    &__burger-menu {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      background: rgb(243 244 246);
      transition: 0.4s all;
      .header__linguise {
        margin: 0.5rem auto;
        width: max-content;
        max-width: 100%;
      }
    }
    &:not(&--burger-active) {
      .header__burger-menu {
        transform: translateX(-100%);
        visibility: hidden;
      }
    }
    &__burger-close {
      margin: 0.2rem 0.4rem 0.2rem auto;
      width: 1.4rem;
      height: 1.4rem;
      background: url("data:image/svg+xml,%3Csvg class='h-7 w-7' fill='none' stroke='%235ddcad' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 18L18 6M6 6l12 12' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3C/path%3E%3C/svg%3E") no-repeat center / contain;
    }
    &__burger-nav {
      &:not(:last-child) {
        border-bottom: 0.05rem solid rgb(229, 231, 235);
      }
      &-list {
        flex-direction: column;
        align-items: center;
        gap: 0;
      }
      &-item {
        display: flex;
        align-items: center;
        justify-self: center;
        border-top: 0.05rem solid rgb(229, 231, 235);
      }
      &-link {
        width: 12rem;
        padding: 0.4rem;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.2rem;
        color: #000;
        text-transform: capitalize;
        text-align: center;
      }
    }
  }
}

@media (max-width: 480px) {
  .header {
    &__container {
      padding-top: 1.19rem;
      padding-bottom: 1.19rem;
    }
    &__logo {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
    &__btn {
      font-size: 0.75rem;
    }
    &__burger-menu {
      width: 100%;
      .header__linguise {
        margin: 0.65rem auto;
      }
    }
    &:not(&--burger-active) {
      .header__burger-menu {
        transform: translateY(-100%);
      }
    }
    &__burger-close {
      width: 1.75rem;
      height: 1.75rem;
    }
    &__burger-nav {
      &-list {
        align-items: stretch;
      }
      &-link {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }
}