.layout {
  @media (min-width: 901px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    &__item--1 { grid-column: auto / span 1; }
    &__item--2 { grid-column: auto / span 2; }
    &__item--3 { grid-column: auto / span 3; }
    &__item--4 { grid-column: auto / span 4; }
  }
}