.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 1.54rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: 0.3s all;
  }
  &__link {
    font-size: 0.66667rem;
    font-weight: 600;
    line-height: 120%;
    color: #2D3747;
    text-transform: uppercase;
    transition: inherit;
    &:hover {
      color: var(--primary-color);
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    svg, img {
      width: 100%;
      height: 100%;
    }
    img {
      object-fit: cover;
    }
  }
  &--column {
    .nav__list {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.33rem;
    }
    .nav__link {
      font-weight: 400;
      line-height: 140%;
      text-transform: none;
    } 
  }
}

@media (max-width: 900px) {
  .nav {
    &__item {
      gap: 0.6rem;
    }
    &__icon {
      width: 1.2rem;
      height: 1.2rem;
    }
    &--column {
      .nav__list {
        gap: 0.3rem;
      }
      .nav__link {
        font-size: 0.8rem;
      }
    }
  } 
}

@media (max-width: 480px) {
  .nav {
    &__item {
      gap: 0.75rem;
    }
    &__icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    &--column {
      .nav__list {
        gap: 0.25rem;
      }
      .nav__link {
        font-size: 0.875rem;
      }
    }
  } 
}