.reviews {
  overflow: visible;
  &__item {
    padding: 0 0.5rem;
    &-inner {
      padding: 1rem;
      background: #fff;
      border-radius: 0.5rem;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
    &-name {
      font-size: 0.83333rem;
      font-weight: 600;
      line-height: 120%;
      color: #2F2F2F;
    }
    &-text {
      gap: 0.2rem;
      font-size: 0.75rem;
      line-height: 140%;
      color: #21272A;
      &:not(:first-child) {
        margin-top: 0.67rem;
      }
    }
  }
  @media (min-width: 481px) {
    .swiper-pagination {
      display: none;
    }
  }
}

@media (max-width: 900px) {
  .reviews {
    &__item {
      padding: 0 0.6rem;
      &-inner {
        padding: 1.2rem;
        border-radius: 0.6rem;
      }
      &-name {
        font-size: 1rem;
      }
      &-text {
        font-size: 0.8rem;
        &:not(:first-child) {
          margin-top: 0.8rem;
        }
      }
    }
  } 
}

@media (max-width: 480px) {
  .reviews {
    overflow: hidden;
    &__item {
      padding: 0 0.1rem;
      &-inner {
        padding: 1.25rem;
        border-radius: 0.75rem;
      }
      &-name {
        font-size: 1.125rem;
      }
      &-text {
        font-size: 0.875rem;
        &:not(:first-child) {
          margin-top: 0.75rem;
        }
      }
    }
  } 
}